# Ignorer les fichiers temporaires
*.tmp
*.swp

# Ignorer les fichiers de logs
*.log

#Ignorer les fichiers EXE
*.exe

# Ignorer les dossiers spécifiques
node_modules/
dist/
__pycache__/

# Ignorer les fichiers de configuration environnementale
.env

#Ignorer les fichiers particulilers - Etudes personnelles
documentation/EXPLICATION_CODE_SCRIPT_PAR_CHATGPT.md

