/* Style pour la page produits */

#contact {
  display: none;
  margin-top: 20px;
}
.nom-produits {
  margin-left: 20px;
  font-size: 24px;
}
.first-row-pc {
  display: flex;
  justify-content: space-evenly;
}

.title-page {
  font-size: 36px;
  margin-left: 20px;
  padding-top: 20px;
}

.img-produits {
  width: 350px;
  height: 350px;
}
.vente {
  font-weight: bold;
  color: red;
  margin-bottom: -2px;
}
.nom-card {
  font-size: 20px;
  margin-bottom: 3px;
}
.card-pc {
  margin-bottom: 20px;
  cursor: pointer;
}

.price-card {
  font-weight: bold;
  font-size: 18px;
}
